allow mediaserver amp_dev:chr_file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver default_prop:property_service set;
allow mediaserver self:netlink_kobject_uevent_socket { read bind create setopt getopt };
allow mediaserver system_server:unix_stream_socket { read write };
#FIXME allow mediaserver system_data_file:sock_file write;
allow mediaserver shell_data_file:dir search;
